<%- include("partials/header"); -%>
    <h1>About</h1>
    <p class="about-link"> <%= aboutContent %>
      <br>
      Leetcode : <a href="https://leetcode.com/riyaagar0101/">Riyaagar0101</a>
    </p>
<%- include("partials/footer"); -%>
